@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-7">
        <p><b>Device Statuses</b></p>
        <pre id="devices-panel"></pre>
    </div>
</div>